body {
    margin: 0;
    justify-content: center;  
}

#feature-image {
  display: block;
  width: 500px;       
  margin: 60px auto;
}

.gallery {
  max-width: 600px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border: 2px solid;     
  padding: 20px;         
  box-sizing: border-box;
}

.gallery img {
    width: 100%;
    object-fit: cover;
    display: block;
    aspect-ratio: 1 / 1;
}

/* RED */
.red-theme .gallery {
  border-color: #c62828;
}

/* ORANGE */
.orange-theme .gallery {
  border-color: #ef6c00;
}

/* YELLOW */
.yellow-theme .gallery {
  border-color: #f9a825;
}

/* GREEN */
.green-theme .gallery {
  border-color: #2e7d32;
}

/* BLUE */
.blue-theme .gallery {
  border-color: #1565c0;
}

/* PURPLE */
.purple-theme .gallery {
  border-color: #6a1b9a;
}

/* PINK */
.pink-theme .gallery {
  border-color: #ffb6c1;
}

/* BROWN */
.brown-theme .gallery {
  border-color: #6d4c41;
}

/* BLACK */
.black-theme .gallery {
  border-color: #000000;
}

/* WHITE */
.white-theme .gallery {
  border-color: #e0e0e0; /* light gray so it's visible */
}

.menu {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  padding: 15px;
  box-sizing: border-box;
  justify-items: center;   
  position: sticky;
  top: 0;
}

.menu a {
/* circle */
  width: 40px;            
  height: 40px;           
  border-radius: 50%;     
  overflow: hidden;
  display: block;
}

.menu img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

